.services/Consume/resources/Weather/1_Inline_Weather.asmx.xsd

<?xml version="1.0" encoding="UTF-8"?><s:schema xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://ws.cdyne.com/WeatherWS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" elementFormDefault="qualified" targetNamespace="http://ws.cdyne.com/WeatherWS/">
      <s:element name="GetWeatherInformation">
        <s:complexType/>
      </s:element>
      <s:element name="GetWeatherInformationResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="GetWeatherInformationResult" type="tns:ArrayOfWeatherDescription"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfWeatherDescription">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="WeatherDescription" type="tns:WeatherDescription"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="WeatherDescription">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="1" name="WeatherID" type="s:short"/>
          <s:element maxOccurs="1" minOccurs="0" name="Description" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="PictureURL" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="GetCityForecastByZIP">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="ZIP" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCityForecastByZIPResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="GetCityForecastByZIPResult" type="tns:ForecastReturn"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ForecastReturn">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="1" name="Success" type="s:boolean"/>
          <s:element maxOccurs="1" minOccurs="0" name="ResponseText" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="State" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="City" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="WeatherStationCity" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="ForecastResult" type="tns:ArrayOfForecast"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfForecast">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="Forecast" nillable="true" type="tns:Forecast"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="Forecast">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="1" name="Date" type="s:dateTime"/>
          <s:element maxOccurs="1" minOccurs="1" name="WeatherID" type="s:short"/>
          <s:element maxOccurs="1" minOccurs="0" name="Desciption" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="Temperatures" type="tns:temp"/>
          <s:element maxOccurs="1" minOccurs="1" name="ProbabilityOfPrecipiation" type="tns:POP"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="temp">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="MorningLow" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="DaytimeHigh" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="POP">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="Nighttime" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Daytime" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="GetCityWeatherByZIP">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="ZIP" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCityWeatherByZIPResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="GetCityWeatherByZIPResult" type="tns:WeatherReturn"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WeatherReturn">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="1" name="Success" type="s:boolean"/>
          <s:element maxOccurs="1" minOccurs="0" name="ResponseText" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="State" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="City" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="WeatherStationCity" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="1" name="WeatherID" type="s:short"/>
          <s:element maxOccurs="1" minOccurs="0" name="Description" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Temperature" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="RelativeHumidity" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Wind" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Pressure" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Visibility" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="WindChill" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="Remarks" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfWeatherDescription" nillable="true" type="tns:ArrayOfWeatherDescription"/>
      <s:element name="ForecastReturn" nillable="true" type="tns:ForecastReturn"/>
      <s:element name="WeatherReturn" type="tns:WeatherReturn"/>
    </s:schema>